{:min-bb-version "0.5.1"
 :deps {mvxcvi/multihash {:git/url "https://github.com/borkdude/clj-multihash"
                          :git/sha "acd4890114b3792128b941280756deb761b8417f"}}
 :paths ["src"]
 :tasks
 {upload {:doc "Upload a file to CAS"
          :task (apply clojure "-M:upload" *command-line-args*)}}}
