{:deps {babashka/process {:mvn/version "0.0.2"}
        mvxcvi/multihash {:mvn/version "2.0.3"}
        javax.xml.bind/jaxb-api {:mvn/version "2.3.1"} ;; needed to make multihash work on JDK11+
        }}
