{:deps {babashka/process {:mvn/version "0.0.2"}
        mvxcvi/multihash {:mvn/version "2.0.3"}
        javax.xml.bind/jaxb-api {:mvn/version "2.3.1"} ;; needed to make multihash work on JDK11+

        org.clojure/tools.cli {:mvn/version "1.0.206"}}

 :aliases
 {:upload {:main-opts ["-m" "nextjournal.cas"]}}}
