{:deps {babashka/process {:mvn/version "0.0.2"}
        mvxcvi/multiformats {:mvn/version "0.2.1"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}

 :aliases
 {:upload {:main-opts ["-m" "nextjournal.cas"]}}}
